.tabs {
  margin: 0;
  padding: 0;
}
.tabs + div.content {
  background: #fff;
  border: 1px solid #85298d;
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: left;
}
[role="tabpanel"] mark.icon-important {
  max-width: 90%;
}

li[role="tab"] {
  background-color: #fff;
  border: 1px solid #85298d;
  color: #262626;
  cursor: pointer;
  display: inline-block;
  line-height: 1.5;
  margin: 0;
  outline: none;
  position: relative;
  padding: 0.5rem 1.5rem;
}
li[role="tab"]:hover::before,
li[role="tab"] [role="tab"]:focus::before {
  border-top: 6px solid #c294c7;
  bottom: 100%;
  content: "";
  left: -1px;
  position: absolute;
  right: -1px;
}
li[role="tab"]:hover,
li[role="tab"]:focus {
  color: #000;
  text-decoration: none;
}
li[role="tab"]::after {
  background: #fff;
  bottom: -1px;
  content: "";
  height: 0.3em;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 3;
}
li[role="tab"][aria-selected="true"] {
  color: #000;
  font-weight: 700;
}
li[role="tab"][aria-selected="true"]::before {
  border-top: 6px solid #85298d;
  bottom: 100%;
  content: "";
  left: -1px;
  position: absolute;
  right: -1px;
}
li[role="tab"][aria-selected="true"]::after {
  background: #fff;
  bottom: -2px;
  content: "";
  height: 0.3em;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 3;
}
li[role="tab"][tabindex="0"]:focus::before {
  border-top: 6px solid #b67fbb;
  text-decoration: underline;
}
li[role="tab"][tabindex="0"]::before {
  border-top: 6px solid #b67fbb;
  bottom: 100%;
  content: "";
  left: -1px;
  position: absolute;
  right: -1px;
}
#tabInsertIdh {
  background: #fff;
  border: 1px solid #85298d;
  padding: 1rem;
  text-align: left;
}
